# Auto detect text files and perform LF normalization
* text=auto
* text eol=lf

# Binary files — do not normalize line endings
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.bmp binary
*.ico binary
*.dll binary
*.exe binary
*.pdb binary
*.snk binary
*.pfx binary
