<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AESCConstruct25.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AESCConstruct25.Properties.Settings>
            <setting name="NameString" serializeAs="String">
                <value>[Name]_[p1]x[p2]_[length]</value>
            </setting>
            <setting name="TypeString" serializeAs="String">
                <value>Rectangular@Rect|Circular@C|H Profile@H|L Profile@L|T Profile@T|U Profile@U</value>
            </setting>
        </AESCConstruct25.Properties.Settings>
    </userSettings>
</configuration>