<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AESCConstruct2026.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AESCConstruct2026.Properties.Settings>
            <setting name="NameString" serializeAs="String">
                <value>[Name]_[w]x[h]_[length]</value>
            </setting>
            <setting name="TypeString" serializeAs="String">
                <value>Rectangular@Rect|Circular@C|H Profile@H|L Profile@L|T Profile@T|U Profile@U</value>
            </setting>
            <setting name="TableAnchorX" serializeAs="String">
                <value>15.75</value>
            </setting>
            <setting name="TableAnchorY" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="TableLocationPoint" serializeAs="String">
                <value>TopRightCorner</value>
            </setting>
            <setting name="MatInExcel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MatInBOM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MatInSTEP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SerialNumber" serializeAs="String">
                <value>Enter serial number</value>
            </setting>
            <setting name="LicenseValid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Construct_Language" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="ConnectorProperties" serializeAs="String">
                <value>C:\ProgramData\AESCConstruct\Connectors\ConnectorProperties.csv</value>
            </setting>
            <setting name="CompProperties" serializeAs="String">
                <value>C:\ProgramData\AESCConstruct\CustomProperty\CompProperties.csv</value>
            </setting>
            <setting name="Bolt" serializeAs="String">
                <value>C:\ProgramData\AESCConstruct\Fasteners\Bolt.csv</value>
            </setting>
            <setting name="Nut" serializeAs="String">
                <value>C:\ProgramData\AESCConstruct\Fasteners\Nut.csv</value>
            </setting>
            <setting name="Washer" serializeAs="String">
                <value>C:\ProgramData\AESCConstruct\Fasteners\Washer.csv</value>
            </setting>
            <setting name="PlatesProperties" serializeAs="String">
                <value>C:\ProgramData\AESCConstruct\Plates\PlatesProperties.csv</value>
            </setting>
            <setting name="Profiles_Circular" serializeAs="String">
                <value>C:\ProgramData\AESCConstruct\Profiles\Profiles_Circular.csv</value>
            </setting>
            <setting name="Profiles_H" serializeAs="String">
                <value>C:\ProgramData\AESCConstruct\Profiles\Profiles_H.csv</value>
            </setting>
            <setting name="Profiles_L" serializeAs="String">
                <value>C:\ProgramData\AESCConstruct\Profiles\Profiles_L.csv</value>
            </setting>
            <setting name="Profiles_Rectangular" serializeAs="String">
                <value>C:\ProgramData\AESCConstruct\Profiles\Profiles_Rectangular.csv</value>
            </setting>
            <setting name="Profiles_T" serializeAs="String">
                <value>C:\ProgramData\AESCConstruct\Profiles\Profiles_T.csv</value>
            </setting>
            <setting name="Profiles_U" serializeAs="String">
                <value>C:\ProgramData\AESCConstruct\Profiles\Profiles_U.csv</value>
            </setting>
            <setting name="profiles" serializeAs="String">
                <value>C:\ProgramData\AESCConstruct\UserDXFProfiles\profiles.csv</value>
            </setting>
            <setting name="NetworkLogUser_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NetworkLogUser_Directory" serializeAs="String">
                <value>%ProgramData%\IPManager\Logs</value>
            </setting>
            <setting name="LengthUnit" serializeAs="String">
                <value>mm</value>
            </setting>
            <setting name="DocumentAnchor" serializeAs="String">
                <value>TopRight</value>
            </setting>
        </AESCConstruct2026.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>