<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AESCConstruct25.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AESCConstruct25.Properties.Settings>
            <setting name="NameString" serializeAs="String">
                <value>[Name]_[p1]x[p2]_[length]</value>
            </setting>
            <setting name="TypeString" serializeAs="String">
                <value>Rectangular@Rect|Circular@C|H Profile@H|L Profile@L|T Profile@T|U Profile@U</value>
            </setting>
            <setting name="TableAnchorX" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="TableAnchorY" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="TableLocationPoint" serializeAs="String">
                <value>BottomRightCorner</value>
            </setting>
            <setting name="MatInExcel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MatInBOM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MatInSTEP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SerialNumber" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="LicenseValid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Construct_Language" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="ConnectorProperties" serializeAs="String">
                <value>Connectors\ConnectorProperties.csv</value>
            </setting>
            <setting name="CompProperties" serializeAs="String">
                <value>CustomProperty\CompProperties.csv</value>
            </setting>
            <setting name="Bolt" serializeAs="String">
                <value>Fasteners\Bolt.csv</value>
            </setting>
            <setting name="Nut" serializeAs="String">
                <value>Fasteners\Nut.csv</value>
            </setting>
            <setting name="Washer" serializeAs="String">
                <value>Fasteners\Washer.csv</value>
            </setting>
            <setting name="PlatesProperties" serializeAs="String">
                <value>Plates\PlatesProperties.csv</value>
            </setting>
            <setting name="Profiles_Circular" serializeAs="String">
                <value>Profiles\Profiles_Circular.csv</value>
            </setting>
            <setting name="Profiles_H" serializeAs="String">
                <value>Profiles\Profiles_H.csv</value>
            </setting>
            <setting name="Profiles_L" serializeAs="String">
                <value>Profiles\Profiles_L.csv</value>
            </setting>
            <setting name="Profiles_Rectangular" serializeAs="String">
                <value>Profiles\Profiles_Rectangular.csv</value>
            </setting>
            <setting name="Profiles_T" serializeAs="String">
                <value>Profiles\Profiles_T.csv</value>
            </setting>
            <setting name="Profiles_U" serializeAs="String">
                <value>Profiles\Profiles_U.csv</value>
            </setting>
            <setting name="profiles" serializeAs="String">
                <value>UserDXFProfiles\profiles.csv</value>
            </setting>
        </AESCConstruct25.Properties.Settings>
    </userSettings>
</configuration>